
  /* 메인 비주얼 스타일 */
  .hero {
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-image {
    width: 100vw;
    height: 100%;
    background-position: center;
    background-image: url('../../images/business_areas_mainvisual.png');
    background-size: cover;
    position: absolute;
    top: 0;
    opacity: 0.9;
  }
  
  .hero-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1;
  }
  
  .hero h1 {
    font-size: 48px;
    color: #fff;
  }
  
  /* 컨텐츠 섹션 스타일 */
  section {
    padding: 80px 0;
    margin: 0 auto;
    position: relative;
  }
  #businessareas {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
  }
  
  /*사업분야 서브메뉴 스타일*/
  .businessareas_menu {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: solid 2px #f2f2f2;
  }
  
  .businessareas_menu ul {
    display: flex;
    height: 50px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
  
  .businessareas_menu ul li {
    flex: 1;
    text-align: center;
  }
  
  .businessareas_menu ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .businessareas_menu ul li:hover {
    background-color: #f2f2f2;
  }
  
  .businessareas_title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
  }
  /*사업분야 서브메뉴 스타일 끝*/
  
  h4.businessareas_subtitle{
    width: 100%;
    height: 35px;
    font: bold 24px "Noto Sans KR";
    position: relative;
    text-align: left;
  }
  
  /*관리기본방안*/

.management_policy-container,
.Gprocess_list-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 5% 0;
    position: relative;
}

#guard_subtext_title {
    width: 100%;
    text-align: left;
    font-size: 20px;
    margin-top: 3%;
}

#guard_subtext_title > span {
    font: bold 20px/30px "Noto Sans KR";
}

ul#guard_text_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3%;
}

ul#guard_text_box > li {
    width: 30%;
    position: relative;
    margin-bottom: 3%;
}

ul#guard_text_box > li > img {
    width: 100%;
}

.Gprocess_list-container > img {
    width: 100%;
    height: auto;
    margin-top: 3%;
}


  @media screen and (max-width: 1400px) {
  
    .header-container,
    .businessareas_subtitle,
    #guard_subtext_title,
    .Gprocess_list-container,
    .footer-content {
      max-width: 90%;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header-container {
      flex-direction: column;
      align-items: flex-start;
      border-bottom: none;
    }
  
    nav ul {
      margin-top: 20px;
    }
  
    .company-info {
      flex-basis: 100%;
      margin-bottom: 40px;
    }
  }